<div class="container-scroller">
  <!-- partial:../../partials/_navbar.html -->
  <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
      <div class="me-3">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
      </div>
      <div>
        <a class="navbar-brand brand-logo" href="/">
          <img src="/images/logo.png" alt="logo" />
        </a>
        <a class="navbar-brand brand-logo-mini" href="/">
          <img src="/images/logo-mini.svg" alt="logo" />
        </a>
      </div>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-top">
      <ul class="navbar-nav">
        <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
          <h1 class="welcome-text">Good Morning, <span class="text-black fw-bold">Username</span></h1>
          <h3 class="welcome-sub-text">"Chỗ để slogan" </h3>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link count-indicator" id="countDropdown" href="#" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="icon-bell"></i>
            <span class="count"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0"
            aria-labelledby="countDropdown">
            <a class="dropdown-item py-3">
              <p class="mb-0 font-weight-medium float-left">You have 7 unread mails </p>
              <span class="badge badge-pill badge-primary float-right">View all</span>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <img src="/images/faces/face10.jpg" alt="image" class="img-sm profile-pic">
              </div>
              <div class="preview-item-content flex-grow py-2">
                <p class="preview-subject ellipsis font-weight-medium text-dark">Marian Garner </p>
                <p class="fw-light small-text mb-0"> The meeting is cancelled </p>
              </div>
            </a>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <img src="/images/faces/face12.jpg" alt="image" class="img-sm profile-pic">
              </div>
              <div class="preview-item-content flex-grow py-2">
                <p class="preview-subject ellipsis font-weight-medium text-dark">David Grey </p>
                <p class="fw-light small-text mb-0"> The meeting is cancelled </p>
              </div>
            </a>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <img src="/images/faces/face1.jpg" alt="image" class="img-sm profile-pic">
              </div>
              <div class="preview-item-content flex-grow py-2">
                <p class="preview-subject ellipsis font-weight-medium text-dark">Travis Jenkins </p>
                <p class="fw-light small-text mb-0"> The meeting is cancelled </p>
              </div>
            </a>
          </div>
        </li>
        <li class="nav-item dropdown d-none d-lg-block user-dropdown">
          <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="img-xs rounded-circle" src="/images/faces/face8.jpg" alt="Profile image"> </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
            <div class="dropdown-header text-center">
              <img class="img-md rounded-circle" src="/images/faces/face8.jpg" alt="Profile image">
              <p class="mb-1 mt-3 font-weight-semibold">Allen Moreno</p>
              <p class="fw-light text-muted mb-0">allenmoreno@gmail.com</p>
            </div>
            <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> My
              Profile <span class="badge badge-pill badge-danger">1</span></a>
            <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-message-text-outline text-primary me-2"></i>
              Messages</a>
            <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-calendar-check-outline text-primary me-2"></i>
              Activity</a>
            <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-help-circle-outline text-primary me-2"></i>
              FAQ</a>
            <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
        data-bs-toggle="offcanvas">
        <span class="mdi mdi-menu"></span>
      </button>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:../../partials/_settings-panel.html -->
    <div class="theme-setting-wrapper">
      <div id="settings-trigger"><i class="ti-settings"></i></div>
      <div id="theme-settings" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <p class="settings-heading">SIDEBAR SKINS</p>
        <div class="sidebar-bg-options selected" id="sidebar-light-theme">
          <div class="img-ss rounded-circle bg-light border me-3"></div>Light
        </div>
        <div class="sidebar-bg-options" id="sidebar-dark-theme">
          <div class="img-ss rounded-circle bg-dark border me-3"></div>Dark
        </div>
        <p class="settings-heading mt-2">HEADER SKINS</p>
        <div class="color-tiles mx-0 px-4">
          <div class="tiles success"></div>
          <div class="tiles warning"></div>
          <div class="tiles danger"></div>
          <div class="tiles info"></div>
          <div class="tiles dark"></div>
          <div class="tiles default"></div>
        </div>
      </div>
    </div>
    <div id="right-sidebar" class="settings-panel">
      <i class="settings-close ti-close"></i>
      <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="todo-tab" data-bs-toggle="tab" href="#todo-section" role="tab"
            aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="chats-tab" data-bs-toggle="tab" href="#chats-section" role="tab"
            aria-controls="chats-section">CHATS</a>
        </li>
      </ul>
      <div class="tab-content" id="setting-content">
        <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel"
          aria-labelledby="todo-section">
          <div class="add-items d-flex px-3 mb-0">
            <form class="form w-100">
              <div class="form-group d-flex">
                <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
              </div>
            </form>
          </div>
          <div class="list-wrapper px-3">
            <ul class="d-flex flex-column-reverse todo-list">
              <li>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="checkbox" type="checkbox">
                    Team review meeting at 3.00 PM
                  </label>
                </div>
                <i class="remove ti-close"></i>
              </li>
              <li>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="checkbox" type="checkbox">
                    Prepare for presentation
                  </label>
                </div>
                <i class="remove ti-close"></i>
              </li>
              <li>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="checkbox" type="checkbox">
                    Resolve all the low priority tickets due today
                  </label>
                </div>
                <i class="remove ti-close"></i>
              </li>
              <li class="completed">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="checkbox" type="checkbox" checked>
                    Schedule meeting for next week
                  </label>
                </div>
                <i class="remove ti-close"></i>
              </li>
              <li class="completed">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="checkbox" type="checkbox" checked>
                    Project review
                  </label>
                </div>
                <i class="remove ti-close"></i>
              </li>
            </ul>
          </div>
          <h4 class="px-3 text-muted mt-5 fw-light mb-0">Events</h4>
          <div class="events pt-4 px-3">
            <div class="wrapper d-flex mb-2">
              <i class="ti-control-record text-primary me-2"></i>
              <span>Feb 11 2018</span>
            </div>
            <p class="mb-0 font-weight-thin text-gray">Creating component page build a js</p>
            <p class="text-gray mb-0">The total number of sessions</p>
          </div>
          <div class="events pt-4 px-3">
            <div class="wrapper d-flex mb-2">
              <i class="ti-control-record text-primary me-2"></i>
              <span>Feb 7 2018</span>
            </div>
            <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
            <p class="text-gray mb-0 ">Call Sarah Graves</p>
          </div>
        </div>
        <!-- To do section tab ends -->
        <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
          <div class="d-flex align-items-center justify-content-between border-bottom">
            <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
            <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 fw-normal">See All</small>
          </div>
          <ul class="chat-list">
            <li class="list active">
              <div class="profile"><img src="/images/faces/face1.jpg" alt="image"><span class="online"></span></div>
              <div class="info">
                <p>Thomas Douglas</p>
                <p>Available</p>
              </div>
              <small class="text-muted my-auto">19 min</small>
            </li>
            <li class="list">
              <div class="profile"><img src="/images/faces/face2.jpg" alt="image"><span class="offline"></span></div>
              <div class="info">
                <div class="wrapper d-flex">
                  <p>Catherine</p>
                </div>
                <p>Away</p>
              </div>
              <div class="badge badge-success badge-pill my-auto mx-2">4</div>
              <small class="text-muted my-auto">23 min</small>
            </li>
            <li class="list">
              <div class="profile"><img src="/images/faces/face3.jpg" alt="image"><span class="online"></span></div>
              <div class="info">
                <p>Daniel Russell</p>
                <p>Available</p>
              </div>
              <small class="text-muted my-auto">14 min</small>
            </li>
            <li class="list">
              <div class="profile"><img src="/images/faces/face4.jpg" alt="image"><span class="offline"></span></div>
              <div class="info">
                <p>James Richardson</p>
                <p>Away</p>
              </div>
              <small class="text-muted my-auto">2 min</small>
            </li>
            <li class="list">
              <div class="profile"><img src="/images/faces/face5.jpg" alt="image"><span class="online"></span></div>
              <div class="info">
                <p>Madeline Kennedy</p>
                <p>Available</p>
              </div>
              <small class="text-muted my-auto">5 min</small>
            </li>
            <li class="list">
              <div class="profile"><img src="/images/faces/face6.jpg" alt="image"><span class="online"></span></div>
              <div class="info">
                <p>Sarah Graves</p>
                <p>Available</p>
              </div>
              <small class="text-muted my-auto">47 min</small>
            </li>
          </ul>
        </div>
        <!-- chat tab ends -->
      </div>
    </div>
    <!-- partial -->
    <!-- partial:../../partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="mdi mdi-grid-large menu-icon"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item nav-category">Forms and Datas</li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
            <i class="menu-icon mdi mdi-chart-line"></i>
            <span class="menu-title">Charts</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="charts">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="/thong-ke">ChartJs</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
            <i class="menu-icon mdi mdi-table"></i>
            <span class="menu-title">Tables</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="tables">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="/san-pham">Products</a></li>
            </ul>
          </div>
          <div class="collapse" id="tables">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="/danh-muc">Categories</a></li>
            </ul>
          </div>
          <div class="collapse" id="tables">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="/nguoi-dung">Users</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item nav-category">pages</li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
            <i class="menu-icon mdi mdi-account-circle-outline"></i>
            <span class="menu-title">User Pages</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="auth">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="/dang-xuat"> Logout </a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item nav-category">help</li>
        <li class="nav-item">
          <a class="nav-link" href="http://bootstrapdash.com/demo/star-admin2-free/docs/documentation.html">
            <i class="menu-icon mdi mdi-file-document"></i>
            <span class="menu-title">Documentation</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-lg-12 stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Table with contextual classes</h4>
                <p class="card-description">
                  Add class <code>.table-{color}</code>
                </p>
                <div class="table-responsive pt-3">
                  <form class="jotform-form" action="/san-pham/detail/{{product._id}}" method="post"
                    enctype="multipart/form-data" name="form_222071778479467" id="222071778479467"
                    accept-charset="utf-8" autocomplete="on">
                    {{!-- <input type="hidden" name="formID" value="222071778479467" />
                    <input type="hidden" id="JWTContainer" value="" />
                    <input type="hidden" id="cardinalOrderNumber" value="" /> --}}
                    <div role="main" class="form-all">
                      <ul class="form-section page-section">
                        <li id="cid_1" class="form-input-wide" data-type="control_head">
                          <div class="form-header-group  header-large">
                            <div class="header-text httal htvam">
                              <h1 id="header_1" class="form-header" data-component="header">
                                Submit a Product
                              </h1>
                            </div>
                          </div>
                        </li>
                        <li class="form-line" data-type="control_textbox" id="id_4">
                          <label class="form-label form-label-top form-label-auto" id="label_4" for="input_4"> Product
                            ID </label>
                          <div id="cid_4" class="form-input-wide">
                            <input type="text" id="productId" name="productId" data-type="input-textbox"
                              class="form-textbox" data-defaultvalue="" size="24" value="{{product._id}}"
                              placeholder="Enter id" data-component="textbox" aria-labelledby="label_4" />
                          </div>
                        </li>
                        <li class="form-line" data-type="control_textbox" id="id_4">
                          <label class="form-label form-label-top form-label-auto" id="label_4" for="input_4"> Product
                            Name </label>
                          <div id="cid_4" class="form-input-wide">
                            <input type="text" id="name" name="name" data-type="input-textbox" class="form-textbox"
                              data-defaultvalue="" size="24" value="{{product.name}}" placeholder="Enter product name"
                              data-component="textbox" aria-labelledby="label_4" />
                          </div>
                        </li>
                        <li class="form-line" data-type="control_dropdown" id="id_3">
                          <label class="form-label form-label-top form-label-auto" id="label_3" for="input_3"> Product
                            Category </label>
                          <div id="cid_3" class="form-input-wide">
                            <select class="form-dropdown" id="categories" name="categories" style="width:150px"
                              data-component="dropdown">
                              {{#each categories}}
                              {{!-- k viết đc #ifEqual trong hbs ==> tạo helper --}}
                              {{!-- {{#if ifEqual this._id ../product.category_id}}
                              <option selected value="{{this._id}}">{{this.name}}</option>
                              {{#else}}
                              <option value="{{this._id}}">{{this.name}}</option>
                              {{/if}} --}}
                              {{#if this.isSelected}}
                              <option selected id="category" name="category_id" value="{{this._id}}">{{this.name}}
                              </option>
                              {{!-- <input type="hidden" id="category" name="category" value="{{this._id}}"> --}}
                              {{else}}
                              <option value="{{this._id}}">{{this.name}}</option>
                              {{/if}}
                              {{/each}}
                            </select>
                          </div>
                        </li>
                        <li class="form-line" data-type="control_textbox" id="id_4">
                          <label class="form-label form-label-top form-label-auto" id="label_4" for="input_4"> Quantity
                          </label>
                          <div id="cid_4" class="form-input-wide">
                            <input type="text" id="quantity" name="quantity" data-type="input-textbox"
                              class="form-textbox" data-defaultvalue="" size="24" value="{{product.quantity}}"
                              placeholder="" data-component="textbox" aria-labelledby="label_4" />
                          </div>
                        </li>
                        <li class="form-line" data-type="control_radio" id="id_5">
                          <label class="form-label form-label-top form-label-auto" id="label_5" for="input_5"> Product
                            Freshness </label>
                          <div id="cid_5" class="form-input-wide">
                            <div class="form-multiple-column" data-columncount="3" role="group"
                              aria-labelledby="label_5" data-component="radio">
                              <span class="form-radio-item">
                                <span class="dragger-item">
                                </span>
                                <input type="radio" aria-describedby="label_5" class="form-radio" id="input_5_0"
                                  name="q5_productFreshness" value="Brand New" />
                                <label id="label_input_5_0" for="input_5_0"> Món mới </label>
                              </span>
                              <span class="form-radio-item">
                                <span class="dragger-item">
                                </span>
                                <input type="radio" aria-describedby="label_5" class="form-radio" id="input_5_1"
                                  name="q5_productFreshness" value="Second Hand" />
                                <label id="label_input_5_1" for="input_5_1"> Nổi bật </label>
                              </span>
                              <span class="form-radio-item">
                                <span class="dragger-item">
                                </span>
                                <input type="radio" aria-describedby="label_5" class="form-radio" id="input_5_2"
                                  name="q5_productFreshness" value="Refurbished" />
                                <label id="label_input_5_2" for="input_5_2"> Ngừng kinh doanh </label>
                              </span>
                            </div>
                          </div>
                        </li>

                        <li class="form-line" data-type="control_fileupload" id="id_7">
                          <label class="form-label form-label-top form-label-auto" id="label_7" for="input_7"> Image of
                            Product </label>
                          <div id="cid_7" class="form-input-wide">
                            <img src="{{product.image}}" id="image-view" alt="product image">
                          </div>
                          <div id="cid_7" class="form-input-wide">
                            <input type="file" id="image-file" name="image" class="form-upload" data-imagevalidate="yes"
                              onchange="onChangeFile()"
                              data-file-accept="pdf, doc, docx, xls, csv, txt, rtf, html, zip, mp3, wma, mpg, flv, avi, jpg, jpeg, png, gif"
                              data-file-maxsize="10240" data-component="fileupload" />
                            {{!-- <input type="hidden" id="image" name="image" class="form-upload"> --}}
                          </div>
                        </li>

                        <li class="form-line" data-type="control_number" id="id_8">
                          <label class="form-label form-label-top form-label-auto" id="label_8" for="input_8"> Product
                            Price </label>
                          <div id="cid_8" class="form-input-wide">
                            <input type="number" id="price" name="price" data-type="input-number"
                              class=" form-number-input form-textbox validate[Numeric]" data-defaultvalue=""
                              style="width:60px" size="5" value="{{product.price}}" placeholder="ex: $5"
                              data-component="number" aria-labelledby="label_8" step="any" />
                          </div>
                        </li>
                        <li class="form-line" data-type="control_button" id="id_2">
                          <div id="cid_2" class="form-input-wide">
                            <div style="margin-left:156px" data-align="auto"
                              class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField">
                              <button id="input_2" type="submit"
                                class="form-submit-button submit-button jf-form-buttons jsTest-submitField"
                                data-component="button" data-content="">
                                Save
                              </button>
                            </div>
                          </div>
                        </li>
                        <li style="display:none">
                          Should be Empty:
                          <input type="text" name="website" value="" />
                        </li>
                      </ul>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:../../partials/_footer.html -->
      <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a
              href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from
            BootstrapDash.</span>
          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights
            reserved.</span>
        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>

<script>
  //upload hinh, nhan ve url;
  const onChangeFile = () => {
    const file = document.getElementById('image-file').files[0];
    const reader = new FileReader();
    reader.onload = e => {
      document.getElementById('image-view').src = e.target.result;
      document.getElementById('image-view').style.display = 'block';
    }
    reader.readAsDataURL(file);
  }


</script>